<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/layout.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <%-style%>  <!--replace by style files of respective view files -->

    <title><%=title%></title>
</head>
<body>
     <%- include('_header')%>
     <main>
        <%- body%>
     </main>
     
     <%- include('_footer')%>

     <%-script%> <!--replace by script files of respective view files -->

</body>
</html>